<div class="banner-full">
	<div class="col-lg-6 col-md-6 col-sm-12 companies-banner">
		<div class="companies-banner-preview">
			<h1>Companies</h1>
			<p>Join our network of Companies and get access to a full community waiting eager to find a new place to work at.</p>
			<p>Compete with other companies and find the best candidates.</p>
			<p>Win over young talent and grow as a company.</p>
			<div class="seperate-top-bottom">
				<%= link_to 'Join Us', new_company_path, class: "btn btn-large btn-success"%>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 customers-banner">
		<div class="customers-banner-preview">
			<h1>Customers</h1>
			<p>Find the perfect company for you, completely free of cost.</p>
			<p>Choose from our many clients.</p>
			<p>We will help you find the best place to develop and learn.</p>
			<div class="seperate-top-bottom">
				<%= link_to 'Join Us', new_customer_path, class: "btn btn-large btn-primary"%>
			</div>
		</div>
	</div>
</div>
<div class="container margin-top-add">
	<div class="row">
		<div class="col-12 center-items margin-top-add">
			<h1>Some of our Companies</h1>
		</div>
	</div>
	<div class="row margin-top-add">
		<div class="col-md-10 col-offset-2">
			<div class="row">
				<%= render 'profiles', profiles: @companies %>
			</div>
		</div>
	</div>
</div>