<div class="banner-full">
	<div class="col-lg-6 col-md-6 col-sm-12 companies-banner">
		<div class="companies-banner-preview">
			<h1>Companies</h1>
			<p>Join our network of Companies and get access to full community of customers waiting for your service.</p>
			<p>Compete with other companies and offer your services at competitive prices.</p>
			<p>Win over clients and grow as a company.</p>
			<div class="seperate-top-bottom">
				<%= link_to 'Join Us', new_company_path, class: "btn btn-large btn-success"%>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 customers-banner">
		<div class="customers-banner-preview">
			<h1>Customers</h1>
			<p>Find the perfect accounting company for you, completely free of cost.</p>
			<p>Choose from our many clients.</p>
			<p>Get the best service for your money.</p>
			<div class="seperate-top-bottom">
				<%= link_to 'Join Us', new_customer_path, class: "btn btn-large btn-primary"%>
			</div>
		</div>
	</div>
</div>
