<% candidates.each do |candidate| %>
  <% if !candidate.properties.empty? %>
  	<div class="col-3 phone-card">
			<div class="phone-card__title">
				<h3><%= candidate.title %></h3>
			</div>
			<div class="phone-card__summary">
				<p>Employees: <%= candidate.employees %></p>
				<p>Job Offers: <%= candidate.offers.length %></p>
			</div>
			<div class="phone-card__title">
				<%= link_to 'Show Profile', customers_candidate_path(candidate.id)%>
			</div>
		</div>
  <%end%>
<%end%>

