<% profiles.each do |profile| %>
  <% if profile != @current_user && !profile.properties.empty? %>
    <div class="col-3 phone-card">
      <div class="phone-card__title">
        <h3><%= profile.full_name %></h3>
      </div>
      <div class="phone-card__summary">
        <p>Skills: <%= profile.skills %></p>
      </div>
      <div class="phone-card__title">
        <%= link_to 'Show Profile', customers_profile_path(profile) %>
      </div>
    </div>
  <%end%>
<%end%>