<div class="container">
  <div class="row">
    <div class="col-12 center-items">
      <h1>All other Customers</h1>
    </div>
  </div>
  <div class="row margin-top-add">
  	<div class="col-md-10 col-offset-2">
  		<div class="row">
  			<%= render 'profiles', profiles: @profiles_fascade.get_all_customers%>
  		</div>
  	</div>
  </div>
</div>