<p>Hello <%= @customer.full_name %></p>
<p>Thanks for showing interest to <%= @offer.position %> offer at <%= @company.title %> using our service.</p>
<p>Check our more offers on our site!</p>
<p>Good luck! :)</p>