//Button Sizes

.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  @include button-size($s-smallest, $s-base, $ln-base, $br-small);
  @include f-pn600;
  font-size: $t-small;
}

.btn-large {
  @include button-size($s-smallest, $s-large, $ln-large, $br-base);
  @include f-pn600;
  font-size: $t-large;

}

.btn-wide {
  @include button-size($s-smallest, 4rem, $ln-large, $br-base);
  @include f-pn400;
}
.btn-small {
  @include button-size(calc(#{$s-micro}*1.5), $s-small, $ln-small, $br-small);
  @include f-pn400;
  font-size: $t-smaller;
}
.btn-extra-small {
  @include button-size($s-micro, $s-smaller, $ln-small, $br-small);
  @include f-pn400;
  font-size: $t-smaller;
}

.btn-primary {
  @include button-variant($c-white, $c-blue, $c-blue--dark);
}

.btn-success {
  @include button-variant($c-white, $c-green, $c-green--dark);
}

.btn-pink {
  @include button-variant($c-white, darken(#bf3738, 10%), darken(#bf3738, 10%));
}

.btn-white {
  @include button-variant($c-white, $c-gray-6, $c-gray-6);
}

.btn-dark-blue {
  @include button-variant($c-white, $c-blue--darker, $c-blue--darker);
}

.btn-alert {
  @include button-variant($c-white, $c-pink, $c-pink);
}

.btn-gray {
  @include button-variant($c-white, $c-gray, $c-gray);
}


.btn-border {
  @include button-variant($c-gray-7, transparent, transparent);
  border: 1px solid $c-border;
  transition: all 0.2s ease;

  &:hover {
    background: $c-light-gray;
    border: 1px solid $c-border;
  }

  &-blue {
    @include button-variant($c-white, transparent, transparent);
    border: 1px solid $c-border;
    transition: all 0.2s ease;

    &:hover {
      background: $c-blue--dark;
      border: 1px solid $c-border;
    }
  }

  &-pink {
    @include button-variant($c-white, transparent, transparent);
    border: 1px solid $c-border;
    transition: all 0.2s ease;

    &:hover {
      background: $c-pink--dark;
      border: 1px solid $c-border;
    }
  }
}

.arrow-right {
   padding-left: $s-larger;
   background: url(asset_path('arrow')) right center/auto 100% no-repeat;
   min-width: $s-larger;
   border-left: 1px solid rgba(0,0,0,.15);

   &-gray {
     background: url(asset_path('arrow-gray')) right center/auto 100% no-repeat;
     padding-left: $s-larger;
     min-width: $s-larger;
     border-left: 1px solid rgba(0,0,0,.15);
   }
}

.btn-container {
  @include display-flex;
  justify-content: center;
}

.btn-label {
  padding-right: $s-base;
  border-right: 1px solid rgba(255,255,255,0.15);
  @include f-pn400;
}
.btn-label-home {
  padding-right: $s-small;
  border-right: 1px solid rgba(255,255,255,0.15);
}
