button, input, optgroup, select, textarea {
  font-family: $f-family-01;
}

:-webkit-autofill,
:-webkit-autofill:hover, 
:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $c-white inset;
}

.form {
  margin-bottom: $s-largest;
  padding: $s-largest;
  background: $c-white;
  @include box-shadow(2px, 2px, 10px, 0px, #e6e6e6);

  label {
    text-transform: uppercase;
    font-size: $t-small;
  }
}

.form-courses {
  margin-bottom: 0;
  padding: 0;
  box-shadow: none;
}

.input-group {
  margin-bottom:$s-large;
}

.form-input {
  display: block;
  width: 100%;
  font-size: $t-small;
  padding: $s-smaller;
  line-height: 1.25;
  color: black;
  background-color: $c-white;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: $br-base;

  &:focus {
    border: 1px solid $c-blue;
    outline: none;
  }
}

.form-input-courses {
  display: block;
  width: 100%;
  font-size: $t-small;
  padding: $s-smaller;
  line-height: 1.25;
  color: black;
  background-color: $c-white;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: $br-base;

  &:focus {
    border: 1px solid $c-blue;
    outline: none;
  }
}

.form-button {
    padding: 10px 30px;
    border: none;
    background-color: $c-blue;
    font-size: $t-small;
    color: $c-white;
    border-radius: $br-small;
    cursor: pointer;

    &:hover {
      background-color: $c-blue--light;
    }
}
