body, .p {
  font-size: 16px;
}

h1, .h1 {
  font-size: 2.25rem;
  @include f-pn600;
}

h2, .h2 {
  font-size: 2rem;
  @include f-pn600;
}

h3, .h3 {
  font-size: 1.75rem;
  @include f-pn400;
}

h4, .h4 {
  font-size: 1.5rem;
  @include f-pn400;
}

h5, .h5 {
  font-size: 1.25rem;
  @include f-pn400;
}

h6, .h6 {
  font-size: 1rem;
  @include f-pn400;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
 margin-top: 0px;
 margin-bottom: 1rem;
}

label {
  display: inline-block;
  margin-bottom: $s-smallest;
}

strong {
  @include f-pn600;
}

b {
  @include f-pn800;
}

a {
  text-decoration: none;
  color: $c-blue;
  &:hover {
    color: $c-blue--light;
  }
  &:focus {
    color: lighten($c-blue--light, 10%);
    outline: 0;
  }
}

p {
  line-height: $ln-small;
}

.white-link {
  text-decoration: none;
  color: $c-white;
  &:hover {
    color: $c-blue--light;
  }
  &:focus {
    color: lighten($c-blue--light, 10%);
    outline: 0;
  }
}