<div class="container">
	<div class="row">
		<div class="col-12 center-items">
			<h1>All other companies</h1>
		</div>
		<div class="col-md-10 col-offset-2">
			<div class="row">
				<%= render 'profiles', profiles: @profiles_fascade.companies%>
			</div>
		</div>
	</div>
</div>