<% applicants.each do |applicant| %>
	<div class="col-5 phone-card">
		<div class="phone-card__title">
			<h3><%= applicant.full_name %></h3>
		</div>
		<div class="phone-card__summary">
			<p>Skills: <%= applicant.skills %></p>
		</div>
		<div class="phone-card__title">
			<%= link_to 'Show Profile', companies_candidate_path(applicant) %>
		</div>
	</div>
<%end%>
