<div class="container">
	<div class="row">
		<div class="col-12 center-items">
			<h1>Current Job Offers</h1>
			<%= link_to 'Create New Job Offer', new_companies_offer_path %>
		</div>
	</div>
	<div class="row margin-top-add">
		<div class="col-md-10 col-offset-2">
			<div class="row">
				<%= render @offers_fascade.offers%>
			</div>
		</div>
	</div>
</div>