<% candidates.each do |candidate| %>
  <% if !candidate.properties.empty? %>
  	<div class="col-4-lg col-4-md col-12-sm">
  		<h1><%= candidate.email%></h1>
  		<%= link_to 'Show Profile', companies_candidate_path(candidate.id)%>
  	</div>
  <%end%>
<%end%>