<% candidates.each do |candidate| %>
  <% if !candidate.properties.empty? %>
    <div class="col-4-lg col-4-md col-12-sm">
      <h4><%= candidate.full_name %></h4>
      <h4>Skills: </h4>
      <% candidate.skills.split(',').each do |skill| %>
        <p><%= skill%></p>
      <%end%>
      <%= link_to 'Show Profile', companies_candidate_path(candidate.id)%>
    </div>
  <%end%>
<%end%>