<% candidates.each do |candidate| %>
  <% if !candidate.properties.empty? %>
    <div class="col-3 phone-card">
      <div class="phone-card__title">
        <h3><%= candidate.full_name %></h3>
      </div>
      <div class="phone-card__summary">
        <p>Skills: <%= candidate.skills %></p>
      </div>
      <div class="phone-card__title">
        <%= link_to 'Show Profile', companies_candidate_path(candidate) %>
      </div>
    </div>
  <%end%>
<%end%>
