<% offers.each do |offer| %>
	<div class="phone-card">
		<div class="phone-card__title">
			<h3><%= offer.position %></h3>
		</div>
		<div class="phone-card__summary">
			<p>Type Of Contract: <%= offer.type_of_contract%></p>
			<p>Salary: <%= offer.salary %></p>
		</div>
		<div class="phone-card__title">
			<%= link_to 'Read More', companies_offer_path(offer) %>
		</div>
	</div>
<%end%>